* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.add {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /*border: 1px solid #000000;*/
    cursor: pointer;
    user-select: none;
}